.manual{
    background-color: #36393f;
    width: 50vw;
    height: 500vh;
    text-align: left;
    padding: 2%;
}
.manualDiv .wrapper{
    text-align: center;
    padding: 10vw;
    padding-left: 25vw;
    background-image: url("./../Images/pexels-philippe-donn-1169754.jpg");
    height: 200vh;
    background-repeat: repeat;
    background-size: cover;

}
.imgFlex{
    display: flex;
    justify-content: space-around;
}
.steps{
    margin: auto;
    text-align: center;
}
.steps img{
    width: 50vw;
}