.sectionRecent {
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50vw;
    margin-bottom: 0.6%;
}

#docLists {
    background-color: #36393f;
    border-radius: 8px;
}

.cardDoc {
    flex-basis: auto;
    border: 0;
    margin:01.6%;
    width:10vw;
    font-size: 1.2rem;
    text-align: left;
    word-wrap: break-word;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 5vw;
    
    transition: 300ms ease; 

}
.cardDoc:hover{
    /* background-color: #7289Da; */
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardDoc img{
    margin: auto;
    height: 10vh;
    border-radius: 5px 5px 0 0;
}

